body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background: #111;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    
}

.hidden {
    
    display:none;
}



.timer {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
button {
    background-color: #222;
    color: #fff;
    width:80%;
    border: 2px solid #fff;
    padding: 15px 15px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.4s;
}
button:hover {
    background-color: #fff;
    color: #000;
}
select {
    background-color: #222;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
}

.result{

    font-size: 20px;
    font-weight: bold;
    color: #bd1e51;

}

